@import url("https://fonts.googleapis.com/css2?family=Slackside+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=Train+One&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Zen+Kaku+Gothic+New&display=swap");

body {
  margin: 0;
  animation: stopscroll 0s 1s both;
  background-color: rgb(255, 255, 255);
}

p {
  font-size: 10px;
}

@keyframes stopscroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

/*メインビジュアル*/
.mainVisual {
  height: 100vh;
  width: auto;
  position: relative;
}

#abc-logo {
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
  z-index: -2;
}

#titles {
  width: 100%;
  position: absolute;
  top: 20%;
}

#titles > p {
  margin: 0;
  color: #ffffff;
  text-align: center;
  z-index: -1;
  font-family: "Dela Gothic One", sans-serif;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: rgb(30, 30, 30);
  font-size: 120px;
}

#circle1 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 1000px;
  background-color: #c1f5ff;
  border-radius: 49% 38% 62% / 43% 40% 60% 57%;
  z-index: -5;
}

#circle2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 350px;
  background-color: #ccdcff89;
  border-radius: 57% 43% 50% 50% / 66% 34% 66% 34%;
  z-index: -5;
}

#circle3 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 30px;
  background-color: #ffccef92;
  border-radius: 49% 38% 62% / 43% 40% 60% 57%;
  z-index: -5;
}

#circle4 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 600px;
  left: 0px;
  background-color: #c1ffeecf;
  border-radius: 13% 87% 38% 62% / 25% 43% 57% 75%;
  z-index: -5;
}

#circle5 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 500px;
  left: 900px;
  margin-bottom: 500px;
  background-color: #fffdd0;
  border-radius: 62% 38% 38% 62% / 38% 37% 63% 62%;
  z-index: -5;
}

#top_image__camera {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  left: 150px;
  background-color: #c1f5ff;
  border-radius: 44% 56% 46% 54% / 44% 54% 46% 56%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 5s ease-in-out infinite alternate;
}

#top_image__console {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 120px;
  left: 10px;
  background-color: #c1f5ff;
  border-radius: 38% 62% 31% 69% / 41% 54% 46% 59%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 7s ease-in-out infinite alternate;
}

#top_image_LED {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 600px;
  background-color: #c1f5ff;
  border-radius: 51% 49% 45% 55% / 46% 54% 46% 54%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 6s ease-in-out infinite alternate;
}

#top_image__speaker {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #c1f5ff;
  border-radius: 51% 49% 45% 55% / 46% 54% 46% 54%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 7s ease-in-out infinite alternate;
}

#top_image_millorball {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 40px;
  right: 50px;
  background-color: #c1f5ff;
  border-radius: 51% 49% 45% 55% / 46% 54% 46% 54%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 5s ease-in-out infinite alternate;
}

@keyframes horizontal {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes vertical {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#abc-introduction {
  height: 880px;
  width: auto;
  position: relative;
  background-color: tomato;
}

#image_introduction1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  filter: brightness(0.8);
}

#abc-introduction > p {
  font-size: 1.6rem;
  margin: 0;
  padding: 5%;
  text-align: center;
  position: absolute;
  position: absolute;
  top: 15%;
  right: 5%;
  width: 35%;
  background-color: #ffffff6d;
  color: #fff;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#black_space {
  width: 100%;
  height: 150px;
  position: relative;
  background-color: #000000df;
  z-index: -5;
}

#black_space > p {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 320px;
  font-size: 60px;
  text-align: center;
  font-family: "Slackside One", cursive;
}

#fireworks {
  width: auto;
  height: 1000px;
  position: relative;
  background-color: #000000df;
}

#fireworks > p {
  color: #00000000;
  margin: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  font-size: 120px;
  font-family: "Dela Gothic One", sans-serif;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: #ffffffe0;
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

#happi {
  display: none;
}

#uchiwa {
  display: none;
}

#tyochin {
  display: none;
}

#tyochin2 {
  display: none;
}

#ikayaki {
  display: none;
}

#yoyo {
  display: none;
}

#goldfish {
  display: none;
}

#watagashi {
  display: none;
}

#ringoame {
  display: none;
}

#taiko {
  display: none;
}

#abstract {
  width: auto;
  height: 2000px;
  position: relative;
  background-color: #000000df;
}

#explanation1 {
  width: 48vw;
  height: 650px;
  position: absolute;
  top: -10%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle1 {
  width: 400px;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation1 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation1 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation2 {
  width: 48vw;
  height: 650px;
  position: absolute;
  top: -10%;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle2 {
  width: 400px;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation2 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation2 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation3 {
  width: 48vw;
  height: 650px;
  position: absolute;
  top: 35%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle3 {
  width: 400px;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation3 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation3 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation4 {
  width: 48vw;
  height: 650px;
  position: absolute;
  top: 35%;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle4 {
  width: 400px;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation4 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation4 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#and-more {
  margin-right: 5%;
  position: absolute;
  top: 80%;
  right: 0;
}

#and-more > p {
  font-size: 42px;
  font-family: "Zen Kaku Gothic New", sans-serif;
  color: #fff;
}

#date_access {
  width: auto;
  height: 1000px;
  display: flex;
  align-items: center;
  position: relative;
}

#sp-date_access {
  display: none;
}

#date {
  width: 40%;
  position: absolute;
  left: 10%;
}

#map {
  width: 30%;
  aspect-ratio: 1 / 1;
  position: absolute;
  right: 10%;
  filter: hue-rotate(140deg);
  -webkit-filter: hue-rotate(140deg);
}

#map iframe {
  border-radius: 30px;
  box-shadow: 0 0 10px #555;
  width: 100%;
  height: 100%;
}

#date > p {
  font-size: 32px;
  margin: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Zen Kaku Gothic New", sans-serif;
}
#date > p:nth-child(2) {
  color: tomato;
  font-size: 35px;
}

#date > p:nth-child(4) {
  color: tomato;
  font-size: 35px;
}

#date > p:nth-child(5) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(6) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(8) {
  color: tomato;
  font-size: 35px;
}

#date > p:nth-child(9) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(10) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(12) {
  color: tomato;
  font-size: 35px;
}

#application {
  width: 100%;
  height: 1550px;
  display: flex;
  justify-content: center;
}

.Form {
  max-width: 1200px;
}

.Form > p {
  text-align: center;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 60px;
  margin-bottom: 0;
}

.Form > p:nth-child(2) {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 50px;
  color: tomato;
}

/*境界線*/
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 700px;
  display: flex;
  align-items: center;
}

.Form-Item:nth-child(5) {
  border-bottom: px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}

.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}

.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}

.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

/* ------------------------------------ */
/* ラジオボタン専用 */
/* ------------------------------------ */
/* ラベル同士の間隔 */
.label_radio + .label_radio {
  margin-left: 0em;
  margin-right: 2em;
  display: flex;
}
/* ラベル文字列の左側余白 */
.radio_span {
  margin-left: 1em;
  margin-top: 0.5em;
}
/* ラジオボタンのスタイルを消す */
.input_radio {
  display: none;
}
/* ラベル文字の左側の余白：チェックボックの枠が入るスペース＋ラベル文字との余白 */
.input_radio + span {
  padding-left: 28px;
  display: inline-block;
  position: relative;
}
/* ラジオボタンの枠とチェックマークの共通書式 */
.input_radio + span::after,
.input_radio + span::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
}
/* ラジオボタンの枠 */
.input_radio + span::before {
  border: 1px solid #aaaaaa;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
/* ラジオボタンにチェックが付いていない時 */
.input_radio + span::after {
  border: none;
  background-color: #5bc8ac;
  border-radius: 50%;
  height: 12px;
  width: 12px;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
/* ラジオボタンにチェックが付いた時 */
.input_radio:checked + span::after {
  display: block;
}

.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}

.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}

/* フッター */
footer {
  background-color: #cbcbcb;
  text-align: center;
  padding: 50px 80px 30px 80px;
}

#logo-footer {
  margin-bottom: 50px;
}

#sns-footer {
  display: flex;
  justify-content: space-between;
  text-align: left;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

#sns-footer a {
  margin-right: 40px;
}

#copyright {
  color: #000000;
  margin: 20px;
}

#logo-footer-img {
  width: 300px;
}

#x-logo {
  width: 40px;
  height: 40px;
}

#Instagram-logo {
  width: 45px;
  height: 45px;
}

#hp-footer a {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 250px;
  padding: 10px 25px;
  margin-bottom: 80px;
  color: tomato;
  font-family: "Zen Kaku Gothic New", sans-serif;
  text-decoration: none;
  line-height: 1.8;
  transition: 0.3s ease-in-out;
  font-size: 20px;
  font-weight: 500;
  background: #eee;
  border-radius: 9999px;
  border-bottom: 2px solid #999;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
#hp-footer a:hover {
  color: #fff;
  background: #999;
  border-bottom: 2px solid #fff;
  transform: translateY(3px);
}

/* SMP */
@media screen and (max-width: 782px) {
  #abc-logo {
    width: auto;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    z-index: -2;
  }

  #titles > p {
    font-size: 80px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(30, 30, 30);
  }
}

@media screen and (max-width: 1250px) {
  .mainVisual {
    height: 100vh;
    width: auto;
    position: relative;
  }
}

@media screen and (max-width: 782px) {
  #circle1 {
    display: none;
  }

  #circle2 {
    display: none;
  }

  #circle3 {
    width: 300px;
    height: 300px;
  }

  #circle5 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 220px;
    top: 400px;
  }

  #top_image__camera {
    display: none;
  }

  #top_image__console {
    display: none;
  }

  #top_image_LED {
    display: none;
  }

  #top_image__speaker {
    display: none;
  }

  #top_image_millorball {
    display: none;
  }
}

@media screen and (max-width: 1250px) {
  #abc-introduction {
    height: 500px;
    width: auto;
    position: relative;
  }

  #image_introduction1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    filter: brightness(0.6);
  }

  #abc-introduction > p {
    font-size: 1rem;
    margin: 0;
    padding: 2%;
    text-align: center;
    position: absolute;
    top: 12%;
    right: 0;
    left: 0;
    margin: auto;
    width: 80%;
    background-color: #ffffff6d;
    color: #fff;
  }
}

@media screen and (max-width: 782px) {
  #black_space {
    width: 100%;
    height: 50px;
    position: relative;
    background-color: #000000df;
    z-index: -5;
  }

  #fireworks {
    width: auto;
    height: 500px;
    position: relative;
    background-color: #000000df;
  }

  #fireworks > p {
    font-size: 70px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #ffffffe0;
  }
}

@media screen and (max-width: 782px) {
  #abstract {
    width: auto;
    height: 2500px;
    position: relative;
    background-color: #000000df;
  }

  #explanation1 {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contents-circle1 {
    width: 400px;
  }
  #explanation1 > h1 {
    width: 100%;
    font-size: 40px;
  }

  #explanation1 > p {
    width: 100%;
    font-size: 20px;
  }

  #explanation2 {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 25%;
    left: 0;
  }

  #contents-circle2 {
    width: 400px;
  }
  #explanation2 > h1 {
    width: 100%;
    font-size: 25px;
  }

  #explanation2 > p {
    width: 100%;
    font-size: 20px;
  }

  #explanation3 {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 0;
  }

  #contents-circle3 {
    width: 400px;
  }
  #explanation3 > h1 {
    width: 100%;
    font-size: 25px;
  }

  #explanation3 > p {
    width: 100%;
    font-size: 20px;
  }

  #explanation4 {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 75%;
    left: 0;
  }

  #contents-circle4 {
    width: 400px;
  }
  #explanation4 > h1 {
    width: 100%;
    font-size: 25px;
  }

  #explanation4 > p {
    width: 100%;
    font-size: 20px;
  }

  #and-more {
    text-align: center;
    position: absolute;
    top: 98%;
    margin-bottom: 50px;
    z-index: 5;
    color: #fff;
  }

  #and-more > p {
    font-size: 20px;
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
}

@media screen and (max-width: 782px) {
  #date_access {
    display: none;
  }

  #sp-date_access {
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sp-date {
    width: 100%;
    margin-top: 5%;
  }

  #sp-map {
    width: 70%;
    aspect-ratio: 1 / 1;
    margin-top: 10%;
  }

  #sp-map iframe {
    border-radius: 30px;
    box-shadow: 0 0 10px #555;
    width: 100%;
    height: 100%;
  }

  #sp-date > p {
    font-size: 25px;
    margin: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "Zen Kaku Gothic New", sans-serif;
  }
  #sp-date > p:nth-child(2) {
    color: tomato;
    font-size: 25px;
  }

  #sp-date > p:nth-child(4) {
    color: tomato;
    font-size: 25px;
  }

  #sp-date > p:nth-child(5) {
    color: tomato;
    font-size: 25px;
  }

  #sp-date > p:nth-child(7) {
    color: tomato;
    font-size: 18px;
  }

  #sp-date > p:nth-child(8) {
    color: tomato;
    font-size: 18px;
    margin: 0px;
  }

  #sp-date > p:nth-child(9) {
    color: tomato;
    font-size: 18px;
    margin: 0px;
  }

  #sp-date > p:nth-child(11) {
    color: tomato;
    font-size: 25px;
  }
}

@media screen and (max-width: 782px) {
  .Form {
    margin-top: 0px;
  }
  .Form > p {
    text-align: center;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-size: 30px;
    margin-bottom: 0;
  }

  .Form > p:nth-child(2) {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: tomato;
  }
}

@media screen and (max-width: 782px) {
  .Form-Item {
    width: 80%;
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 782px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}

@media screen and (max-width: 782px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}

@media screen and (max-width: 782px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}

@media screen and (max-width: 782px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}

@media screen and (max-width: 782px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}

@media screen and (max-width: 782px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }

  #tyochin {
    width: 48%;
    height: auto;
    position: absolute;
    top: -100px;
    left: -10px;
    rotate: -10deg;
    filter: brightness(1.2);
    z-index: 0;
  }
  #tyochin2 {
    width: 48%;
    height: auto;
    position: absolute;
    top: -100px;
    right: 10px;
    rotate: 10deg;
    filter: brightness(1.2);
    z-index: 0;
  }

  #yoyo {
    width: 20%;
    height: auto;
    position: absolute;
    top: 450px;
    left: 0px;
    rotate: -20deg;
    filter: brightness(1.2);
    z-index: 0;
  }

  #goldfish {
    width: 20%;
    height: auto;
    position: absolute;
    top: 350px;
    right: 10px;
    rotate: -20deg;
    filter: brightness(1.2);
    z-index: 0;
  }

  #happi {
    width: 40%;
    height: auto;
    position: absolute;
    top: 1050px;
    left: 10px;
    rotate: 40deg;
    filter: brightness(1.2);
    z-index: 0;
  }
}
