@import url("https://fonts.googleapis.com/css2?family=Slackside+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=DotGothic16&family=Train+One&family=Zen+Maru+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Zen+Kaku+Gothic+New&display=swap");

body {
  margin: 0;
  animation: stopscroll 0s 1s both;
  background-color: rgb(255, 255, 255);
}

p {
  font-size: 10px;
}

@keyframes stopscroll {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

/* カーテン演出
#wrap::before,
#wrap::after {
  position: fixed;
  z-index: 3;
  top: -15%;
  display: block;
  visibility: hidden;
  width: 50%;
  height: 130%;
  content: "";
  background-color: #c1ffee;
}
#wrap::before {
  left: 0;
  animation: curtain_l 3s;
  -webkit-animation: curtain_l 3s;
}
#wrap::after {
  right: 0;
  animation: curtain_r 3s;
  -webkit-animation: curtain_r 3s;
}

@keyframes curtain_l {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #c1ffee;
  }
  60% {
    transform: rotate(12deg) translateX(-50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(30deg) translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes curtain_l {
  0% {
    visibility: visible;
  }
  20% {
    -webkit-transform: rotate(0deg) translateX(0%);
    background-color: #c1ffee;
  }
  60% {
    -webkit-transform: rotate(6deg) translateX(-50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(-100%);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes curtain_r {
  0% {
    visibility: visible;
  }
  20% {
    transform: rotate(0deg) translateX(0%);
    background-color: #c1ffee;
  }
  60% {
    transform: rotate(-12deg) translateX(50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: rotate(-30deg) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes curtain_r {
  0% {
    visibility: visible;
  }
  20% {
    -webkit-transform: rotate(0deg) translateX(0%);
    background-color: #c1ffee;
  }
  60% {
    -webkit-transform: rotate(-6deg) translateX(50%);
  }
  80% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(0deg) translateX(100%);
    opacity: 0;
    visibility: hidden;
  }
} */

/*メインビジュアル*/
.mainVisual {
  height: 880px;
  width: auto;
  position: relative;
}

#abc-logo {
  width: 300px;
  margin-top: 30px;
  margin-left: 30px;
  z-index: -2;
}

@media screen and (max-width: 782px) {
  #abc-logo {
    width: auto;
    height: 50px;
    margin-top: 30px;
    margin-left: 20px;
    z-index: -2;
  }
}

/* #main_image {
  width: 100%;
  height: 880px;
  margin-top: 0px;
  pointer-events: none;
  background: rgb(17, 17, 17); */
/*おおきさ　位置　球芯　広がり*/
/* background: radial-gradient(350px 350px at center center, transparent, transparent 325px, rgba(0, 0, 0, 0.8) 450px);
  opacity: 0;
  animation: fadein 800ms 0s 1 both;
  z-index: -1;
} */

/* @keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} */

#titles {
  margin-top: 90px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #27acd9; */
}

#title {
  margin-top: -80px;
  color: #ffffff;
  width: auto;
  text-align: center;
  font-size: 250px;
  z-index: -1;
  font-family: "Dela Gothic One", sans-serif;
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: rgb(30, 30, 30);
}

#title2 {
  margin-top: -300px;
  color: #ffffff;
  width: auto;
  font-size: 160px;
  z-index: -1;
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: rgb(30, 30, 30);
}

@media screen and (max-width: 782px) {
  .mainVisual {
    height: 700px;
    width: auto;
    position: relative;
  }

  #title {
    margin-top: 30px;
    width: auto;
    font-size: 120px;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: rgb(30, 30, 30);
  }

  #title2 {
    margin-top: -100px;
    width: auto;
    font-size: 50px;
    letter-spacing: 0.3rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(30, 30, 30);
  }
}

#circle1 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0px;
  left: 1000px;
  background-color: #c1f5ff;
  border-radius: 49% 38% 62% / 43% 40% 60% 57%;
  z-index: -5;
}

#circle2 {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  left: 350px;
  background-color: #ccdcff89;
  border-radius: 57% 43% 50% 50% / 66% 34% 66% 34%;
  z-index: -5;
}

#circle3 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 30px;
  background-color: #ffccef92;
  border-radius: 49% 38% 62% / 43% 40% 60% 57%;
  z-index: -5;
}

#circle4 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 600px;
  left: 0px;
  background-color: #c1ffeecf;
  border-radius: 13% 87% 38% 62% / 25% 43% 57% 75%;
  z-index: -5;
}

#circle5 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 500px;
  left: 900px;
  margin-bottom: 500px;
  background-color: #fffdd0;
  border-radius: 62% 38% 38% 62% / 38% 37% 63% 62%;
  z-index: -5;
}

#top_image__camera {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 50px;
  left: 150px;
  background-color: #c1f5ff;
  border-radius: 44% 56% 46% 54% / 44% 54% 46% 56%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 5s ease-in-out infinite alternate;
}

#top_image__console {
  width: 270px;
  height: 270px;
  position: absolute;
  top: 120px;
  left: 10px;
  background-color: #c1f5ff;
  border-radius: 38% 62% 31% 69% / 41% 54% 46% 59%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 7s ease-in-out infinite alternate;
}

#top_image_LED {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 10px;
  left: 600px;
  background-color: #c1f5ff;
  border-radius: 51% 49% 45% 55% / 46% 54% 46% 54%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 6s ease-in-out infinite alternate;
}

#top_image__speaker {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50px;
  right: 20px;
  background-color: #c1f5ff;
  border-radius: 51% 49% 45% 55% / 46% 54% 46% 54%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 7s ease-in-out infinite alternate;
}

#top_image_millorball {
  width: 250px;
  height: 250px;
  position: absolute;
  bottom: 40px;
  right: 50px;
  background-color: #c1f5ff;
  border-radius: 51% 49% 45% 55% / 46% 54% 46% 54%;
  border: solid 10px #40ba8d56;
  z-index: -3;
  animation: vertical 5s ease-in-out infinite alternate;
}

@media screen and (max-width: 782px) {
  #circle1 {
    display: none;
  }

  #circle2 {
    display: none;
  }

  #circle3 {
    width: 300px;
    height: 300px;
  }

  #circle5 {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 220px;
    top: 400px;
  }

  #top_image__camera {
    display: none;
  }

  #top_image__console {
    display: none;
  }

  #top_image_LED {
    display: none;
  }

  #top_image__speaker {
    display: none;
  }

  #top_image_millorball {
    display: none;
  }
}

@keyframes horizontal {
  0% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes vertical {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

#abc-introduction {
  height: 880px;
  width: auto;
  position: relative;
  background-color: tomato;
}

#image_introduction1 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

#abc-introduction > p {
  font-size: 1.6rem;
  margin: 0;
  padding: 5%;
  text-align: center;
  position: absolute;
  position: absolute;
  top: 15%;
  right: 5%;
  width: 35%;
  background-color: #ffffff6d;
  color: #fff;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

@media screen and (max-width: 782px) {
  #abc-introduction {
    height: 500px;
    width: auto;
    position: relative;
    background-color: tomato;
  }

  #image_introduction1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  #abc-introduction > p {
    font-size: 0.7rem;
    margin: 0;
    padding: 5%;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    width: 60%;
    background-color: #ffffff6d;
    color: #fff;
  }
}

#black_space {
  width: 100%;
  height: 250px;
  position: relative;
  background-color: #000000df;
  z-index: -5;
}

#black_space > p {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 500px;
  left: 320px;
  font-size: 60px;
  text-align: center;
  font-family: "Slackside One", cursive;
}

#fireworks {
  width: auto;
  height: 1000px;
  position: relative;
  background-color: #000000df;
}

#fireworks > p {
  color: #00000000;
  margin: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  font-size: 170px;
  font-family: "Dela Gothic One", sans-serif;
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: #ffffffe0;
}

@media screen and (max-width: 782px) {
  #black_space {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: #000000df;
    z-index: -5;
  }

  #fireworks {
    width: auto;
    height: 500px;
    position: relative;
    background-color: #000000df;
  }

  #fireworks > p {
    font-size: 70px;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #ffffffe0;
  }
}

button {
  border: 0;
  padding: 0;
  background-color: transparent;
}

#happi {
  width: auto;
  height: 500px;
  position: absolute;
  top: -400px;
  left: -100px;
  filter: brightness(0.8);
  rotate: 30deg;
  z-index: 0;
}

#uchiwa {
  width: auto;
  height: 350px;
  position: absolute;
  top: -320px;
  right: 70px;
  rotate: -30deg;
  filter: brightness(1.2);
  z-index: 0;
}

#tyochin {
  width: auto;
  height: 280px;
  position: absolute;
  top: 430px;
  right: 30px;
  rotate: -15deg;
  filter: brightness(1.2);
  z-index: 0;
}

#ikayaki {
  width: auto;
  height: 250px;
  position: absolute;
  top: 50px;
  right: 450px;
  rotate: 30deg;
  filter: brightness(1.2);
  z-index: 0;
}

#yoyo {
  width: auto;
  height: 400px;
  position: absolute;
  top: 750px;
  left: 100px;
  rotate: -30deg;
  filter: brightness(1.2);
  z-index: 0;
}

#goldfish {
  width: auto;
  height: 250px;
  position: absolute;
  top: 1050px;
  left: 550px;
  rotate: -30deg;
  filter: brightness(1.2);
  z-index: 0;
}

#watagashi {
  width: auto;
  height: 300px;
  position: absolute;
  top: 1550px;
  right: 100px;
  rotate: -30deg;
  filter: brightness(1.2);
  z-index: 0;
}

#ringoame {
  width: auto;
  height: 250px;
  position: absolute;
  top: 1950px;
  right: 300px;
  rotate: 30deg;
  filter: brightness(1.2);
  z-index: 0;
}

#taiko {
  width: auto;
  height: 350px;
  position: absolute;
  top: 1650px;
  left: -125px;
  rotate: -5deg;
  filter: brightness(1.2);
  z-index: 0;
}

#abstract {
  width: auto;
  height: 2000px;
  position: relative;
  background-color: #000000df;
}

#explanation1 {
  width: 50%;
  height: 45%;
  position: absolute;
  top: -10%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle1 {
  width: 60%;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation1 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation1 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation2 {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 15%;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle2 {
  width: 60%;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation2 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation2 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation3 {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 40%;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle3 {
  width: 60%;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation3 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation3 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation4 {
  width: 50%;
  height: 45%;
  position: absolute;
  top: 65%;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
}

#contents-circle4 {
  width: 60%;
  height: auto;
  border-radius: 10%;
  margin: 2%;
}
#explanation4 > h1 {
  width: 100%;
  height: auto;
  margin: 6% 0 0 0;
  text-align: center;
  color: #fff;
  font-size: 50px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

#explanation4 > p {
  width: 100%;
  height: auto;
  margin: 2%;
  text-align: center;
  color: #fff;
  font-size: 35px;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

/* !!! */
@media screen and (max-width: 782px) {
  #abstract {
    width: auto;
    height: 1500px;
    position: relative;
    background-color: #000000df;
  }

  #explanation1 {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #contents-circle1 {
    width: 60%;
  }
  #explanation1 > h1 {
    width: 80%;
    font-size: 25px;
  }

  #explanation1 > p {
    width: 80%;
    font-size: 20px;
  }

  #explanation2 {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 25%;
    left: 0;
  }

  #contents-circle2 {
    width: 60%;
  }
  #explanation2 > h1 {
    width: 80%;
    font-size: 25px;
  }

  #explanation2 > p {
    width: 80%;
    font-size: 20px;
  }

  #explanation3 {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 50%;
    left: 0;
  }

  #contents-circle3 {
    width: 60%;
  }
  #explanation3 > h1 {
    width: 80%;
    font-size: 25px;
  }

  #explanation3 > p {
    width: 80%;
    font-size: 20px;
  }

  #explanation4 {
    width: 100%;
    height: 25%;
    position: absolute;
    top: 75%;
    left: 0;
  }

  #contents-circle4 {
    width: 60%;
  }
  #explanation4 > h1 {
    width: 80%;
    font-size: 25px;
  }

  #explanation4 > p {
    width: 80%;
    font-size: 20px;
  }
}

#date_access {
  width: auto;
  height: 2050px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

#date_access > h1 {
  position: absolute;
  top: -50px;
  width: auto;
  text-align: center;
  color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #000000df;
  font-size: 150px;
  font-family: "Dela Gothic One", sans-serif;
}

#date {
  position: absolute;
  text-align: center;
  top: 130px;
  left: 150px;
  height: 500px;
  width: 600px;
  padding: 15px;
  border-radius: 30px;
  color: rgb(62, 62, 62);
}

#date > p {
  font-family: "Dela Gothic One", sans-serif;
  font-size: 32px;
  margin: 10px;
}

#date > p:nth-child(2) {
  color: tomato;
  font-size: 35px;
}

#date > p:nth-child(4) {
  color: tomato;
  font-size: 35px;
}

#date > p:nth-child(5) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(6) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(8) {
  color: tomato;
  font-size: 35px;
}

#date > p:nth-child(9) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(10) {
  color: tomato;
  font-size: 25px;
  margin: 0px;
}

#date > p:nth-child(12) {
  color: tomato;
  font-size: 35px;
}

#map {
  position: absolute;
  top: 200px;
  right: 75px;
  filter: hue-rotate(140deg);
  -webkit-filter: hue-rotate(140deg);
}

#map iframe {
  height: 500px;
  border-radius: 30px;
  box-shadow: 0 0 10px #555;
}

.Form {
  position: absolute;
  top: 820px;
  max-width: 1200px;
}

.Form > p {
  text-align: center;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 60px;
  margin-bottom: 0;
}

.Form > p:nth-child(2) {
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 50px;
  color: tomato;
}

@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
/*境界線*/
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 800px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: px solid #ddd;
}

.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}
